<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Bem Vindo!</title>
<link rel="stylesheet" href="app/util/bootstrap-4.5/css/bootstrap.css"/>
<link rel="stylesheet" href="app/view/template/template.css" />
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Eduardo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
         <a class="nav-link" href="#">Sobre</a>
         <a class="nav-link" href="#">Resumo</a>
        </div>
     </div>
   </nav>
  </header>
  <section>
     <div class="card bg-dark text-white">
       <img src="https://blog.hubspot.com/hubfs/how-to-repost-on-instagram.jpg" class="card-img" alt="...">
       <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
  </section>
  <section>
     <div class="card text-center">
        <div class="card-header bg-dark text-white" >
           <h3>Sobre mim</h3>
           <p>
			 <b>Lorem</b> ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis fermentum tortor at 
			 malesuada. Vivamus arcu dui, tempor at malesuada eu, posuere in ante. Nullam varius velit eu viverra<br> 
			 bibendum. Integer sit amet risus ut nisi mollis ullamcorper. Vivamus a velit ante. Curabitur at blandit nibh. Ut enim mi, gravida ut elit vel, pulvinar consectetur arcu. Vestibulum in suscipit turpis. Donec tempor, nibh sed fermentum varius, nisl lacus egestas ligula, eget sodales nunc justo eget est. Morbi ultricies tortor at felis dapibus, in pulvinar velit ornare.

           </p> 
        </div>
      <div class="card-body bg-dark text-white">
        <div class="row">
  <div class="col-sm-6">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h5 class="card-title">Detalhes pessoais</h5>
                   <div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Home</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Profile</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Messages</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Settings</div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h5 class="card-title">Meus interesses</h5>
        
      </div>
    </div>
  </div>
</div>
     </div>
    </div>
  </section>
  <section>
      <div class="jumbotron bg-dark text-white">
  <h1 class="display-5">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>
	 Java:
     <div class="progress">
       <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 20%">20%</div>
     </div>
  </p>
  <p>
	 Phyton:
     <div class="progress">
       <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%">30%</div>
     </div>
  </p>
  <p>
	 Web(html,css,js,php):
     <div class="progress">
       <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
     </div>
  </p>

        <div class="card text-center bg-dark text-yellow">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>

   </nav>
  </section>
  <script src="app/util/jquery-3.0.0.slim.js"></script>
  <script src="app/util/bootstrap-4.5/js/bootstrap.js"></script>
</body>
</html>
